@using FSD_Project.Client.Components
<h3>FormComponent</h3>

<EditForm Model="@feedback" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled" >

    <div class="form-group">
        <label>Name: </label>
         <div>
                <InputText @bind-Value="@feedback.Name" class="form-control" />
             <ValidationMessage For="@(() => feedback.Name)" />
         </div>
    </div>
    <div class="form-group">
        <label>Comment: </label>
         <div>
               <InputText @bind-Value="@feedback.Comment" class="form-control" />
             <ValidationMessage For="@(() => feedback.Comment)" />
         </div>
        </div>
    <div class="form-group">
        <label>License Number: </label>
        <div>
                <InputText @bind-Value="@feedback.LicenseNo" class="form-control" />
            <ValidationMessage For="@(() => feedback.LicenseNo)" />
        </div>
    </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="feedbacks" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Feedback? feedback { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


}
